USE [DormitoryManagement]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountId] [int] IDENTITY(1,1) NOT NULL,
	[account_role] [varchar](255) NULL,
	[createdAt] [datetime2](6) NULL,
	[email] [varchar](255) NULL,
	[googleID] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[created_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[accountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[adminId] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[adminCode] [varchar](255) NULL,
	[avatarLink] [varchar](255) NULL,
	[dob] [date] NULL,
	[fullName] [nvarchar](255) NULL,
	[gender] [nvarchar](50) NULL,
	[phone] [varchar](255) NULL,
	[AccountID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[adminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[logID] [int] IDENTITY(1,1) NOT NULL,
	[action] [nvarchar](100) NULL,
	[createdAt] [datetime2](6) NULL,
	[description] [nvarchar](500) NULL,
	[ipAddress] [varchar](255) NULL,
	[recordID] [int] NULL,
	[tableName] [varchar](255) NULL,
	[AccountID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[billID] [int] IDENTITY(1,1) NOT NULL,
	[amount] [numeric](38, 2) NULL,
	[billType] [nvarchar](255) NULL,
	[createdAt] [datetime2](6) NULL,
	[description] [nvarchar](255) NULL,
	[dueDate] [datetime2](6) NULL,
	[status] [nvarchar](255) NULL,
	[AccountID] [int] NULL,
	[PeriodID] [int] NULL,
	[paymentUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[billID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campus]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campus](
	[campusId] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](100) NULL,
	[campusName] [nvarchar](30) NOT NULL,
	[status] [bit] NOT NULL,
	[createdDate] [datetime2](6) NULL,
	[updatedDate] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[campusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dormitory]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dormitory](
	[dormitoryID] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[area] [nvarchar](255) NULL,
	[dormitoryName] [nvarchar](255) NULL,
	[genderType] [nvarchar](255) NULL,
	[status] [bit] NOT NULL,
	[CampusID] [int] NULL,
	[createdDate] [datetime2](6) NULL,
	[updatedDate] [datetime2](6) NULL,
	[googleMapLink] [varchar](255) NULL,
	[imageLink] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[dormitoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notificationID] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [datetime2](6) NULL,
	[message] [nvarchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationRecipient]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationRecipient](
	[recipientID] [int] IDENTITY(1,1) NOT NULL,
	[isRead] [bit] NOT NULL,
	[receivedAt] [datetime2](6) NULL,
	[AccountID] [int] NULL,
	[NotificationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[recipientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransaction]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransaction](
	[transactionID] [int] IDENTITY(1,1) NOT NULL,
	[amount] [numeric](38, 2) NULL,
	[note] [nvarchar](255) NULL,
	[paidAt] [datetime2](6) NULL,
	[paymentMethod] [nvarchar](255) NULL,
	[proofImage] [varchar](255) NULL,
	[transactionCode] [varchar](255) NULL,
	[BillID] [int] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[transactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[roomID] [int] IDENTITY(1,1) NOT NULL,
	[capacity] [int] NOT NULL,
	[currentOccupancy] [int] NOT NULL,
	[roomName] [varchar](255) NULL,
	[roomType] [varchar](255) NULL,
	[status] [bit] NOT NULL,
	[DormitoryID] [int] NULL,
	[roomPrice] [numeric](38, 2) NOT NULL,
	[createdDate] [datetime2](6) NULL,
	[updatedDate] [datetime2](6) NULL,
	[floor] [int] NOT NULL,
	[previousElectricityReading] [numeric](38, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[roomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomBookingPeriod]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomBookingPeriod](
	[periodID] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [datetime2](6) NULL,
	[durationInMonths] [int] NOT NULL,
	[isPaid] [bit] NOT NULL,
	[paymentDate] [datetime2](6) NULL,
	[totalAmount] [numeric](38, 2) NULL,
	[RequestID] [int] NULL,
	[TermID] [int] NULL,
	[StudentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[periodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomBookingRequest]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomBookingRequest](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[notes] [nvarchar](255) NULL,
	[requestDate] [datetime2](6) NULL,
	[status] [varchar](255) NULL,
	[AccountID] [int] NULL,
	[RoomID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staffId] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[avatarLink] [varchar](255) NULL,
	[dob] [date] NULL,
	[fullName] [nvarchar](255) NULL,
	[gender] [nvarchar](255) NULL,
	[phone] [varchar](255) NULL,
	[position] [nvarchar](255) NULL,
	[staffCode] [varchar](255) NULL,
	[AccountID] [int] NULL,
	[CampusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[staffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentId] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[avatarLink] [varchar](255) NULL,
	[dob] [date] NULL,
	[fullName] [nvarchar](255) NULL,
	[gender] [nvarchar](255) NULL,
	[phone] [varchar](255) NULL,
	[studentCode] [varchar](255) NULL,
	[AccountID] [int] NULL,
	[CampusID] [int] NULL,
	[RoomID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentRoomHistory]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentRoomHistory](
	[historyId] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [datetime2](6) NULL,
	[endDate] [date] NULL,
	[moveReason] [varchar](255) NULL,
	[startDate] [date] NULL,
	[roomID] [int] NOT NULL,
	[studentId] [int] NOT NULL,
	[TermID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[historyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportRequest]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportRequest](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [datetime2](6) NULL,
	[description] [nvarchar](255) NULL,
	[status] [varchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[AccountID] [int] NULL,
	[HandlerID] [int] NULL,
	[response] [nvarchar](1000) NULL,
	[responseDate] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Term]    Script Date: 5/22/2026 10:18:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Term](
	[termID] [int] IDENTITY(1,1) NOT NULL,
	[endDate] [date] NULL,
	[startDate] [date] NULL,
	[termName] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[termID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FKcl68ga6vt1b4gtt34oqpuqnmv] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FKcl68ga6vt1b4gtt34oqpuqnmv]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FKmxywk3c9kq41bm3cef9i327qt] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FKmxywk3c9kq41bm3cef9i327qt]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK4uu4nss34mh2bvsqalcjigb83] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK4uu4nss34mh2bvsqalcjigb83]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FKmrqoggf636mgxtw7nv5udkf2v] FOREIGN KEY([PeriodID])
REFERENCES [dbo].[RoomBookingPeriod] ([periodID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FKmrqoggf636mgxtw7nv5udkf2v]
GO
ALTER TABLE [dbo].[Dormitory]  WITH CHECK ADD  CONSTRAINT [FKk7vvahy9ol50apyh8ysb01gep] FOREIGN KEY([CampusID])
REFERENCES [dbo].[Campus] ([campusId])
GO
ALTER TABLE [dbo].[Dormitory] CHECK CONSTRAINT [FKk7vvahy9ol50apyh8ysb01gep]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FKk8lp02gm2csa1fwtqvb7sviyg] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FKk8lp02gm2csa1fwtqvb7sviyg]
GO
ALTER TABLE [dbo].[NotificationRecipient]  WITH CHECK ADD  CONSTRAINT [FKay2fkgff6kvie4feh8kxdx9p2] FOREIGN KEY([NotificationID])
REFERENCES [dbo].[Notification] ([notificationID])
GO
ALTER TABLE [dbo].[NotificationRecipient] CHECK CONSTRAINT [FKay2fkgff6kvie4feh8kxdx9p2]
GO
ALTER TABLE [dbo].[NotificationRecipient]  WITH CHECK ADD  CONSTRAINT [FKms5nkeuwivamm63giygkjs8j3] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[NotificationRecipient] CHECK CONSTRAINT [FKms5nkeuwivamm63giygkjs8j3]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FKmfvy1kb3q70alyu84ff7loisu] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FKmfvy1kb3q70alyu84ff7loisu]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FKrgdtwtr3ofvxdsnl1m8s17t77] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([billID])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FKrgdtwtr3ofvxdsnl1m8s17t77]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FKp92y1ywjx95sxxl5qb1ac97o1] FOREIGN KEY([DormitoryID])
REFERENCES [dbo].[Dormitory] ([dormitoryID])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FKp92y1ywjx95sxxl5qb1ac97o1]
GO
ALTER TABLE [dbo].[RoomBookingPeriod]  WITH CHECK ADD  CONSTRAINT [FK1h2gasevcmeasqnxaspn1tij8] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([studentId])
GO
ALTER TABLE [dbo].[RoomBookingPeriod] CHECK CONSTRAINT [FK1h2gasevcmeasqnxaspn1tij8]
GO
ALTER TABLE [dbo].[RoomBookingPeriod]  WITH CHECK ADD  CONSTRAINT [FKerok2ctl7bl0mokp55r98f8iq] FOREIGN KEY([TermID])
REFERENCES [dbo].[Term] ([termID])
GO
ALTER TABLE [dbo].[RoomBookingPeriod] CHECK CONSTRAINT [FKerok2ctl7bl0mokp55r98f8iq]
GO
ALTER TABLE [dbo].[RoomBookingPeriod]  WITH CHECK ADD  CONSTRAINT [FKg5yfmgitfc2w4oxih2gfj7hdj] FOREIGN KEY([RequestID])
REFERENCES [dbo].[RoomBookingRequest] ([requestID])
GO
ALTER TABLE [dbo].[RoomBookingPeriod] CHECK CONSTRAINT [FKg5yfmgitfc2w4oxih2gfj7hdj]
GO
ALTER TABLE [dbo].[RoomBookingRequest]  WITH CHECK ADD  CONSTRAINT [FK2d8okf9kp2b0bk7rensc9ie8] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([roomID])
GO
ALTER TABLE [dbo].[RoomBookingRequest] CHECK CONSTRAINT [FK2d8okf9kp2b0bk7rensc9ie8]
GO
ALTER TABLE [dbo].[RoomBookingRequest]  WITH CHECK ADD  CONSTRAINT [FK99ij1yjp6vn5sgn16ygajs8pm] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[RoomBookingRequest] CHECK CONSTRAINT [FK99ij1yjp6vn5sgn16ygajs8pm]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FKefwldtxnrgdo9hwd5sqlelh8j] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FKefwldtxnrgdo9hwd5sqlelh8j]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FKkruq78jajjhyq358reev670d9] FOREIGN KEY([CampusID])
REFERENCES [dbo].[Campus] ([campusId])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FKkruq78jajjhyq358reev670d9]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FKj8jt5wdt454xlt40bpurpqj80] FOREIGN KEY([CampusID])
REFERENCES [dbo].[Campus] ([campusId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FKj8jt5wdt454xlt40bpurpqj80]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FKp18ahc4o4ha35o75n6f13etnp] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FKp18ahc4o4ha35o75n6f13etnp]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FKrv8hgx0sxxw99fnw3ecaet7fe] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([roomID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FKrv8hgx0sxxw99fnw3ecaet7fe]
GO
ALTER TABLE [dbo].[StudentRoomHistory]  WITH CHECK ADD  CONSTRAINT [FKd0chl64rjsgmbqywjin0ted2d] FOREIGN KEY([roomID])
REFERENCES [dbo].[Room] ([roomID])
GO
ALTER TABLE [dbo].[StudentRoomHistory] CHECK CONSTRAINT [FKd0chl64rjsgmbqywjin0ted2d]
GO
ALTER TABLE [dbo].[StudentRoomHistory]  WITH CHECK ADD  CONSTRAINT [FKlxcv74ynfoks269yv83mefu2u] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([studentId])
GO
ALTER TABLE [dbo].[StudentRoomHistory] CHECK CONSTRAINT [FKlxcv74ynfoks269yv83mefu2u]
GO
ALTER TABLE [dbo].[StudentRoomHistory]  WITH CHECK ADD  CONSTRAINT [FKo701402aykkk4m43qcaa6bid7] FOREIGN KEY([TermID])
REFERENCES [dbo].[Term] ([termID])
GO
ALTER TABLE [dbo].[StudentRoomHistory] CHECK CONSTRAINT [FKo701402aykkk4m43qcaa6bid7]
GO
ALTER TABLE [dbo].[SupportRequest]  WITH CHECK ADD  CONSTRAINT [FKoe4uh81ye6jurf2giil497aus] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[SupportRequest] CHECK CONSTRAINT [FKoe4uh81ye6jurf2giil497aus]
GO
ALTER TABLE [dbo].[SupportRequest]  WITH CHECK ADD  CONSTRAINT [FKsycw8jmcc7max0joej5j0wvr2] FOREIGN KEY([HandlerID])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[SupportRequest] CHECK CONSTRAINT [FKsycw8jmcc7max0joej5j0wvr2]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([account_role]='STUDENT' OR [account_role]='STAFF' OR [account_role]='ADMIN'))
GO
