-- Fix users.role CHECK constraint (old DB only allowed MANAGER, CUSTOMER).
-- Run in SSMS/Azure Data Studio if backend fails on DataSeeder with CK__users__role__*.

USE HomestayManagement;
GO

DECLARE @name NVARCHAR(256);
DECLARE c CURSOR FOR
    SELECT cc.name
    FROM sys.check_constraints cc
    JOIN sys.tables t ON cc.parent_object_id = t.object_id
    WHERE t.name = 'users' AND cc.definition LIKE '%role%';

OPEN c;
FETCH NEXT FROM c INTO @name;
WHILE @@FETCH_STATUS = 0
BEGIN
    EXEC('ALTER TABLE users DROP CONSTRAINT ' + @name);
    FETCH NEXT FROM c INTO @name;
END
CLOSE c;
DEALLOCATE c;

ALTER TABLE users ADD CONSTRAINT CK_users_role
    CHECK (role IN ('ADMIN', 'MANAGER', 'EMPLOYEE', 'CUSTOMER'));
GO
